body {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    color: azure;
    margin-top: 0%;
    margin-bottom: 0%;
}

.content-wrapper {
    background-color: #80acdd;
    margin: auto;
    margin-top: 0%;
    width: 60%;
    padding: 10px;
}

header {
    margin-top: 5px;
    margin-bottom: 30px;
}

.headernav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    background: #1565C0;
}

.headernav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

.headernav a {
    text-decoration: none;
    padding: 16px;
    color: azure;
}

.headernav li {
    float: left;
}

.headernav a:hover {
    background: #1565C0;
}

.mainpart {}

.artikelbox {
    margin: 10px 0px;
    padding: 10px 20px;
    display: flex;
    background-color: #1565C0;
}

.artikelbox a {
    text-decoration: none;
}

ul.articlelist {
    display: flex;
    list-style-type: none;
    list-style-position: inside;
    padding: 0%;
    margin: 0%;
}

.artikelboxheadline {
    color: azure;
    font-size: large;
    font-weight: bold;
}

.artikelboxtext {
    color: azure;
    font-size: medium;
}

footer {}