

body {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    color: azure;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: azure;
    padding-top: 140px;
}

.content-wrapper {
    margin: auto;
    margin-top: 0%;
    width: 80%;
    padding: 10px 10px 10px 10px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: #2d2d2d;
}

.navbar {
    background-color: #2d2d2d;
    position: fixed;
    top: 20;
    left: 0;
    width: 100%;
  }
  
  .navbar a {
    display: inline-block;
    justify-content: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background: azure;
    color: #2d2d2d;
  }

.mainpart {
    padding: auto;
}

.headlinearticle {
    position: static;
    background-color: #2d2d2d;
    padding: 20px;
}

.headlinearticleheader{
    color: azure;
    text-decoration: none;
    text-align: left;
}

.headlinearticle a{
    color: azure;
    text-decoration: none;
}

.headlinearticleheader {
    padding: 0%;
}

.headlinearticleimage {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.artikelbox {
    margin: 10px 0px;
    padding: 10px 20px;
    background-color: #2d2d2d;
}

h2 {
    padding-left: 20px;
    color: #2d2d2d;
    text-align: center;
}

.artikelbox a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

ul.articlelist {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
}

.articletextbox {
    padding-left: 20px;
}

.artikelboxheadline {
    color: azure;
    font-size: large;
    font-weight: bold;
}

.artikelboxtext {
    color: azure;
    font-size: medium;
}

footer {
    background-color: #2d2d2d;
    margin-bottom: 0%;
    padding: 10px 20px;
    color: azure;
}

footer a {
    text-decoration: none;
    color: azure;
}